:root {
    --heading: 'RecoletaAlt';
    --heading-2: 'Unbounded';
    --body-font: 'Inter';
    --body-color: #555555 ;
    --base-color: #98e54f;
    --title-color: #ffffff;
    --body-bg-color: #171926;
}
